<!DOCTYPE html>
<html>
{% extends "base.html" %}
{% block content %}
<head>
    <meta charset="UTF-8">
    <title>Regionals</title>
</head>
<body class= "background-regionals">
    <p class="rainbow-text"> {{region}} region data</p>
    <div class="row">
        <div class="col-9">
                <img src="data:image/png;base64,{{data}}">
        </div>
        <div class="col-3">
            <p>{{pokemon_number}}</p>
            {% for item in biggest_group %}
            <p>{{item}}</p>
            {% endfor %}
        </div>
    </div>
    <div class="row">
        <div class="col-9">
            <img src="data:image/png;base64,{{CP_data}}">
        </div>
        <div class="col-3">
            {% for x in biggest_group %}
            <p>{{x}}</p>
            {% endfor %}
        </div>
    </div>
    <div class="row">
        <div class="col-9">
            <img src="data:image/png;base64,{{evolution_data}}">
            <p>*All of the Legendary Pokemon are also Primary Pokemon.</p>
        </div>
        <div class="col-3">
            <p>third</p>
        </div>
    </div>
</body>
{% endblock %}
</html>